<!DOCTYPE html>
<html>
<head>
<title>Canteen Orders</title>
<style>
body{font-family:Segoe UI;background:#f4f6fa;padding:30px;}
.card{background:white;padding:20px;margin-bottom:15px;border-radius:15px;}
</style>
</head>

<body>

<h1>🔥 Live Orders Panel</h1>

{% for order in orders %}

<div class="card">

<h2>Token: {{ order.token }}</h2>

<p>Name: {{ order.student_name }}</p>
<p>Item: {{ order.item_name }}</p>

<form method="POST" action="/mark-ready">
<input type="hidden" name="id" value="{{ order.id }}">
<button>✅ Mark Ready</button>
</form>

</div>

{% endfor %}

</body>
</html>